/* nav section */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 0.9rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* home section */
#home {
    padding: 3px 32px;
}

#home p {
    font-size: 1rem;
    /* font-family: 'Times New Roman', Times, serif; */
}

.title {
    font-size: 45px;
    background-position: -400px 0;
    animation: backcolor 5s linear infinite alternate;
}

.v {
    font-size: 60px;
}


/* service section */
#services-container {
    padding-bottom: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/a7.jpg');
}

#services-container p {
    padding: 0px 25px;
    /* font-family: 'Times New Roman', Times, serif; */
}

#services-container ul {
    padding: 0px 35px;
    margin: 0 20px;
}


/* trainer section */
#trainer-container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/t1a.jpg');
}
#trainer {
    flex-direction: column;
    padding: 15px;
    /* left: 8%; */
}

.lt {
    padding: 0 55px;
    padding-bottom: 25px;
}

#tphoto {
    width: auto;
}
#sub{
    font-size: 16px;
}

/* gallery section */
#main {

    height: 400px;
    width: 100%;
    transform: translate(0%);

    /* transform: translate(12%); */
    /* width: 80%; */
    /* height: 350px; */
}


/* contactus section */
.footer {
    flex-direction: column;
    padding: 3px 28px;
}

#contact {
    padding-bottom: 10px;
}

#timings {
    padding-bottom: 10px;
    margin-left: 0px;
}

#followus {
    margin-left: 0px;
}
#icon a {
    margin-left: 10px;
}

.map {
    width: auto;
}

/* footer */
.center {
    font-size: 13px;
}

/* utility classes */

.h-secondary {
    font-size: 28px;
}

.h-tertiary {
    font-size: 1.1rem;
}

.membership {
    padding: 8px 25px;
}